<div class="container">
  <h2>Bookselfとは</h2>
  <div class="row">
    <p>
      Bookselfとはあなた(Yourself)の持っている本を入れておくための本棚(Bookshelf)です。<br>
      本屋で書籍を買おうとしたときに「この本何巻までもってたっけ？」と悩んだ経験はありませんか？<br>
      Bookselfに持っている本を登録して一元管理することで、もうあなたは本の管理に悩むことはありません。<br>
      書籍版・電子版全てBookselfに一括で登録して、すべての本をあなたの目の行き届くところに置いておきましょう。<br>
      自分の好きなように本棚を作って本をそれぞれの本棚に入れてみましょう。<br>
      また、Bookselfでは他のユーザをフォローでき、どのような本棚を持っているかを見ることが出来ます。<br>
      もちろん、他人に見せたくない本棚には鍵をかけることも出来ますよ。<br>
      ユーザ登録して、今すぐBookselfで本を管理してみませんか？
    </p>
  </div>
  <div class="row">
    <%= link_to "Bookselfを始める", new_user_registration_path, class: "btn btn-info"%>
  </div>
</div>