<footer class="fixed-bottom">
  <div class="container">
    <div class="row">
      <div class="col-8">
        <h4>更新履歴</h4>
        <ul>
          <li>6/17 ホーム・通知画面導入</li>
        </ul>
      </div>
      <div class="col-4">
        <b class="info">要望・お便りはkeishi11433@gmail.comまで</b>
      </div>
    </div>
  </div>
</footer>